@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4a71c5;
}
.container{
    display: flex;
    max-width: 1050px;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
section{
    background: #fff;
    border-radius: 7px;
}
.tools{
    width: 210px;
    padding: 15px 22px 0;
}
.tools .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10px 0 5px;
}
.options .option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.option:is(:hover,.active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span,label){
    color: #5a6168;
    padding-left: 10px;
    cursor: pointer;
}
.option:is(:hover,.active) :where(span,label){
    color: #4a71c5;
}
.option #fill-color{
    height: 14px;
    width: 14px;
    cursor: pointer;
}
#fill-color:checked ~ label{
    color: #4a71c5;
}
.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}
.colors .option:nth-child(1){
    background-color: #fff;
    border: 2px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: #000;
}
.colors .option:nth-child(3){
    background-color: #e02020;
}
.colors .option:nth-child(4){
    background-color: #6dd400;
}
.colors .option:nth-child(5){
    background-color: #4a71c5;
}
.colors .option.selected:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
}
.colors .option:first-child.selected::before{
    border-color: #ccc;
}
.option #color-picker{
    opacity: 0;
    cursor: pointer;
}
.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 0;
    margin-bottom: 12px;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button.clear-canvas{
    color: #6c7570;
    border: 1px solid #6c7570;
    transition: all 0.3s ease;
}
.clear-canvas:hover{
    background: #6c7570;
    color: #fff;
}
button.save-image{
    background: #4a71c5;
}
.board{
    flex: 1;
}
.board canvas{
    width: 100%;
    height: 100%;
}